# metrics/prometheus/prometheus-values.yaml
prometheus:
  prometheusSpec:
    serviceMonitorSelector: {}
    serviceMonitorNamespaceSelector: {}
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 1Gi
  service:
    type: NodePort
    nodePort: 30090

grafana:
  enabled: true
  adminPassword: "admin"
  service:
    type: NodePort
    nodePort: 32322

prometheusOperator:
  createCustomResource: true

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true
