apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: app
          image: project-app:local   # build from ./app
          imagePullPolicy: IfNotPresent
          env:
            - name: API_URL
              value: "http://api:5001"
          ports:
            - containerPort: 5002
---
apiVersion: v1
kind: Service
metadata:
  name: app
spec:
  type: NodePort
  selector:
    app: app
  ports:
    - port: 5002
      targetPort: 5002
      nodePort: 30080
